
.Rproj.user/39FD1844/pcs/files-pane.pper
.Rproj.user/39FD1844/pcs/source-pane.pper
.Rproj.user/39FD1844/pcs/windowlayoutstate.pper
.Rproj.user/39FD1844/pcs/workbench-pane.pper
.Rproj.user/39FD1844/sources/prop/538018F7
.Rproj.user/39FD1844/sources/prop/INDEX
.Rproj.user/39FD1844/sources/session-fdb2b367/AA8F0DA9
.Rproj.user/39FD1844/sources/session-fdb2b367/AA8F0DA9-contents
.Rproj.user/39FD1844/sources/session-fdb2b367/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
/.Rproj.user
.Rhistory
